<h1>Edit <%= @destination.title %></h1>

<form action= "/destinations/<%= @destination.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

<br>
<div>
    <input type="text" name="destination[title]" value="<%= @destination.title %>" id="title"><br><br>
    <input type="date" name="destination[date]" id="date"><br><br>
    <input type="text" name="destination[season]" value="<%= @destination.season %>" id="season"><br><br>
    <input type="text" name="destination[location]" value="<%= @destination.location %>" id="location"><br><br>
    <input type="text" name="destination[attractions]" value="<%= @destination.attractions %>" id="attractions"><br><br>
    <input type="text" name="destination[restaurants]" value="<%= @destination.restaurants %>" id="restaurants"><br><br>
    <input type="text" name="destination[shopping]" value="<%= @destination.shopping %>" id="shopping"><br><br>
    <textarea type="text" name="destination[content]" id="content" cols="30" rows="10"><%= @destination.content %></textarea><br><br>
</div>
<br>
    <input type="submit" value="Update Destination">


</form>